#popover {
  max-width: 100%;
  pointer-events: none;
}

.description {
  max-width: 300px;
  white-space: pre-line;
  word-wrap: break-word;
}

.highlight {
  background-color: #FFC !important;
}

.popover-body {
    padding: 0 !important;
}

.popover-body > table {
  border-top: none;
}

.fixed-popover {
  position: fixed;
  background-color: #FFF;
  overflow-y: scroll;
  max-height: 50%;
  left:0;
  right:0;
  bottom:0;
}