#popover {
  max-width: 100%;
  pointer-events: none;
}


.description {
  max-width: 300px;
  white-space: pre-line;
  word-wrap: break-word;
}

.highlight {
  background-color: #FFC !important;
}

.popover-body {
    padding: 0 !important;
}

.popover-body > table {
  border-top: none;
}