.textview, .texteditor {
    height: 100%;
    font-family: serif;
    font-size: 20px;
    white-space: pre-wrap;
    padding: 0.5em;
}

.textview {
    cursor: pointer;
}

.texteditor {
    width: 100%;
    border: none;
    background-color:#efefef;
}

.container {
    padding: 0 !important;
}

body {
    background-color: #ccc !important;
    overflow: hidden;
}

#root {
    height: 100vh; 
    display: flex;
    flex-direction: column;
}

#root > .container {
    flex: 1;
    overflow-y: scroll;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
    background-color: #FFF;
}

.highlight {
    background-color: #cc0;
}

.editor,
.editor > div {
    height: 100%;
}
